requests
Flask
google-auth
google-auth-oauthlib
cachecontrol
firebase-admin
Flask-Mail
python-dotenv
opencv-python
numpy
librosa
scipy
matplotlib
pandas
bokeh
flask-login
keras
requests
langchain_openai
langchain_community
langchain_core
langchain_groq
librosa
soundfile
tensorflow-cpu
keras
