<!DOCTYPE html><!-- Last Published: Sun Feb 25 2024 22:58:09 GMT+0000 (Coordinated Universal Time) -->
<html data-wf-domain="www.incadence.org" data-wf-page="5d80e079329a00db95704485" data-wf-site="5d80e079329a007369704428">
    <head>
        <meta charset="utf-8"/>
        <title>Who We Serve - Incadence Music Therapy</title>
        <link rel="icon" href="/static/images/just_logo.png" type="image/x-icon"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link href="https://assets-global.website-files.com/5d80e079329a007369704428/css/incadence.webflow.9540063aa.min.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="/static/css/style.css">
<style>
  
    .checklist-block {
        opacity: 0;
        transform: translateX(20px);
        transition: opacity 2s ease, transform 2s ease;
        background-image:linear-gradient(to right, #ffffff,#e6f2f3, #b2ecf0, #56e2ec , #2db3bd) ;
    }

    .checklist-block.show {
        opacity: 1;
        transform: translateX(0);
    }

    .checklist-block.out-of-focus {
        opacity: 0; /* Adjust the opacity value as needed */
    }
    .checklist-i{
        background-image: url("/static/images/music_icon.png");
        background-position: 0%;
        background-repeat: no-repeat;
        background-size: 20px;
        font-size: 18px;
        padding: 17px;
        padding-left: 40px;
        border-bottom: 2px solid rgba(241, 239, 237, 0.251);
    }
    .city-item, .w-dyn-item{
        border: none;
    }
    /* #first .city-image-block {
        animation-name: slideInFromRight;
        animation-duration: 1s; 
        animation-fill-mode: both;
    }

    #first .city-text-block {
        animation-name: slideInFromLeft;
        animation-duration: 1s; 
        animation-fill-mode: both;
    } */

    #s1i, #s1t, #s2i, #s2t, #s3i, #s3t, #s4i, #s4t, #s5i, #s5t, #s6i, #s6t{
        opacity: 0;
    }

    @keyframes slideInFromRight {
        from {
            opacity: 1;
            transform: translateX(50%); /* Start offscreen to the right */
        }
        to {
            opacity: 1;
            transform: translateX(0); /* Move to the center */
        }
    }

    @keyframes slideInFromLeft {
        from {
            opacity: 1;
            transform: translateX(-50%); /* Start offscreen to the left */
        }
        to {
            opacity: 1;
            transform: translateX(0); /* Move to the center */
        }
    }

    .footer-section li a{
        text-decoration: none;
        color: white;
    }

</style>
<!-- End Facebook Pixel Code -->
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="page-wrapper">
            <div data-w-id="bcd3d5fc-8502-735f-8afb-c3248a3d9f91" class="subpage-header services" style="background-image: url(''); background-size: cover;background-color: white;">
                <div class="hero-overlay subpage-overlay" style="background-image: url('/static/images/extra3.png'); background-size: cover;">
                    <div class="container w-container">
                        <div class="hero-text-block centered">
                            <h1 class="hero-main-title" style="margin-top: 50px;">Our Approach to Music Therapy</h1>
                            <br><br>
                            <p class="hero-paragraph hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="container w-container">
                    <div class="flex-row w-row" >
                        <div class="text-column-left w-col w-col-6">
                            <div class="title-wrapper">
                                <h2 class="section-title" >Our Approach</h2>
                            </div>
                            <p class="paragraph">As Albert Einstein famously stated,<strong><i> "everything in our Universe is vibration."</i></strong> From the atoms within our bodies to the thoughts and sounds around us, all things are in motion, vibrating. Different musical notes too arise from sound waves vibrating at specific frequencies. 
                                <br><br>At Sonic Serenity, we harness the power of <strong><i>‘Solfeggio frequencies’</i></strong> which date back to the 10th century, each possessing unique properties capable of promoting physical, emotional, and spiritual well-being. Utilized in various forms of sound therapy, these frequencies are integrated into meditation and energy healing practices, and we tailor them to meet the needs of our users.
                            </p>
                            <br>
                            <div class="small-cta-title">Ready to embark on a journey of music therapy with us?</div>
                            <br>
                            <form  action = "/get_started" method = "POST" enctype = "multipart/form-data">
                                <input type="submit" style="background-color: #29696e; border-radius: 7px;margin-top: 20px;" class="button cta-button w-button" value="Lets Get Started">
                            <!-- <a href="/who-we-serve" class="button cta-button w-button">Get Started</a> -->
                            </form>
                        </div>
                        <div class="checklist-column-right w-col w-col-6" >
                            <div class="checklist-block">
                                <ul role="list" class="checklist w-list-unstyled">
                                    <li class="checklist-i">Music helps <strong>process emotions</strong></li>
                                    <li class="checklist-i"><strong>Reduces</strong> stress and anxiety</li>
                                    <li class="checklist-i">Aids <strong>coping</strong> with challenges</li>
                                    <li class="checklist-i">Helps <strong>navigates relationships</strong></li>
                                    <li class="checklist-i"><strong>Increases</strong> productivity</li>
                                    <li class="checklist-i">And More!</li>
                                </ul>
                                
                            </div>  
                        </div>
                    </div>
                    <div style="display: flex;">
                        
                        <div style="width: 70px;"></div>
                        <div class="cta-button-wrapper" style="margin-top: -10px;">
                            <div class="small-cta-title"></div>
                            
                        </div>
                    </div>
                    
                    <img src="https://assets-global.website-files.com/5d80e079329a007369704428/5d80e079329a0000f170445f_Shape-1_1.svg" alt="" class="bg-shape circle"/>
                
                    
                   <div >
                    <div class="cities-list-wrapper w-dyn-list" >
                        <div style="margin-top: 80px;display: flex; justify-content: center;">
                            <h2 class="section-title" style="text-shadow: 3px 3px 5px grey;">What we Heal</h2>
                        </div>
                        <br>
                            <div role="list" class="city-list w-dyn-items" >
                                <div role="listitem" id="s1" class="city-item w-dyn-item" >
                                    <a href="/get_started" class="city-link-block w-inline-block w-clearfix">
                                        <div style="background-image:url('/static/images/service_anxiety_stress.png')" id="s1i" class="city-image-block">
                                        </div>
                                        <div class="city-text-block" id="s1t" style="background-image: url('/static/images/guitar.png');background-repeat: no-repeat; background-size: 300px; background-position: right bottom; background-color: rgba(240, 248, 255, 0.767);">
                                            <div class="block-title">Stress and Anxiety Reduction</div>
                                            <p class="paragraph in-block">Music therapy induces relaxation responses, lower stress hormones, and promote a sense of calm, helping individuals manage stress and anxiety more effectively.</p>
                                            <form  action = "/get_started" method = "POST" enctype = "multipart/form-data">
                                                <input type="submit" class="button" style="background-color: #2ca2aa; border: none;" value="Get Started" />
                                            </form>
                                            <img src="/static/images/svg_bg.png" alt="" class="block-image"/>
                                        </div>
                                    </a>
                                </div>
                                <br>
                                <div role="listitem" id="s2" class="city-item w-dyn-item">
                                    <a href="/get_started" class="city-link-block w-inline-block w-clearfix" >
                                        <div id="s2i" style="background-image:url('/static/images/services_coping.png')" class="city-image-block">
                                        </div>
                                        <div class="city-text-block" id="s2t" style="background-image: url('/static/images/piano.png');background-repeat: no-repeat; background-size: 300px; background-position: right bottom; background-color: rgba(240, 248, 255, 0.767);">
                                            <div class="block-title">Coping Strategies</div>
                                            <p class="paragraph in-block">Through music therapy, individuals can develop coping strategies to deal with challenging situations, providing them with tools to navigate life's ups and downs.</p>
                                            <form  action = "/get_started" method = "POST" enctype = "multipart/form-data">
                                                <input type="submit" class="button" style="background-color: #2ca2aa; border: none;" value="Get Started" />
                                            </form>
                                            <img src="/static/images/svg_bg.png" alt="" class="block-image"/>
                                        </div>
                                    </a>
                                </div>
                                <br>
                                <div role="listitem" id="s3" class="city-item w-dyn-item">
                                    <a href="/get_started" class="city-link-block w-inline-block w-clearfix">
                                        <div id="s3i" style="background-image:url(/static/images//service_prod.png)" class="city-image-block">
                                            
                                        </div>
                                        <div id="s3t" class="city-text-block" style="background-image: url('/static/images/guitar.png');background-repeat: no-repeat; background-size: 300px; background-position: right bottom; background-color: rgba(240, 248, 255, 0.767);">
                                            <div class="block-title">Increased Productivity</div>
                                            <p class="paragraph in-block">Music therapy can enhance focus, attention, and productivity, benefiting individuals in academic, professional, and personal endeavors.</p>
                                            <form  action = "/get_started" method = "POST" enctype = "multipart/form-data">
                                                <input type="submit" class="button" style="background-color: #2ca2aa; border: none;" value="Get Started" />
                                            </form>
                                            <img src="/static/images/svg_bg.png" alt="" class="block-image"/>
                                        </div>
                                    </a>
                                </div>
                                <br>
                                <div role="listitem" id="s4" class="city-item w-dyn-item">
                                    <a href="/get_started" class="city-link-block w-inline-block w-clearfix">
                                        <div id="s4i" style="background-image:url('/static/images/service_cog.png')" class="city-image-block">
                                            
                                        </div>
                                        <div id="s4t" class="city-text-block" style="background-image: url('/static/images/piano.png');background-repeat: no-repeat; background-size: 300px; background-position: right bottom; background-color: rgba(240, 248, 255, 0.767);">
                                            <div class="block-title">Cognitive Enhancement</div>
                                            <p class="paragraph in-block">Music therapy can stimulate cognitive functions such as memory, attention, and problem-solving skills, benefiting individuals with cognitive impairments or neurodegenerative conditions.</p>
                                            <form  action = "/get_started" method = "POST" enctype = "multipart/form-data">
                                                <input type="submit" class="button" style="background-color: #2ca2aa; border: none;" value="Get Started" />
                                            </form>
                                            <img src="/static/images/svg_bg.png" alt="" class="block-image"/>
                                        </div>
                                    </a>
                                </div>
                                <br>
                                <div role="listitem" id="s5" class="city-item w-dyn-item">
                                    <a href="/get_started" class="city-link-block w-inline-block w-clearfix">
                                        <div id="s5i" style="background-image:url('/static/images/services_pain.png')" class="city-image-block">
                                            
                                        </div>
                                        <div id="s5t" class="city-text-block" style="background-image: url('/static/images/guitar.png');background-repeat: no-repeat; background-size: 300px; background-position: right bottom; background-color: rgba(240, 248, 255, 0.767);">
                                            <div class="block-title">Pain Management</div>
                                            <p class="paragraph in-block">Listening to music reduces perceived pain levels and increaseS pain tolerance, offering a complementary approach to pain management alongside traditional interventions.</p>
                                            <form  action = "/get_started" method = "POST" enctype = "multipart/form-data">
                                                <input type="submit" class="button" style="background-color: #2ca2aa; border: none;" value="Get Started" />
                                            </form>
                                            <img src="/static/images/svg_bg.png" alt="" class="block-image"/>
                                        </div>
                                    </a>
                                </div>
                                <br>
                                <div role="listitem" id="s6" class="city-item w-dyn-item">
                                    <a href="/get_started" class="city-link-block w-inline-block w-clearfix">
                                        <div id="s6i" style="background-image:url('/static/images/services_well.png')" class="city-image-block">   
                                        </div>
                                        <div id="s6t" class="city-text-block" style="background-image: url('/static/images/piano.png');background-repeat: no-repeat; background-size: 300px; background-position: right bottom; background-color: rgba(240, 248, 255, 0.767);">
                                            <div class="block-title">Overall Well-Being</div>
                                            <p class="paragraph in-block">By addressing various aspects of physical, emotional, cognitive, and social functioning, music therapy promotes holistic well-being and quality of life for individuals across the lifespan.</p>
                                            <form  action = "/get_started" method = "POST" enctype = "multipart/form-data">
                                                <input type="submit" class="button" style="background-color: #2ca2aa; border: none;" value="Get Started" />
                                            </form>
                                            <img src="/static/images/svg_bg.png" alt="" class="block-image"/>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html' %}
        </div>  
        <script>
            var log = "{{logged_in}}"
           
            var animatedSection = document.getElementsByClassName("checklist-block")[0];
            var s1 = document.getElementById("s1");
            var s2 = document.getElementById("s2");
            var s3 = document.getElementById("s3");
            var s4 = document.getElementById("s4");
            var s5 = document.getElementById("s5");
            var s6 = document.getElementById("s6");

            function isElementInViewport(el) {
                var rect = el.getBoundingClientRect();
                var windowHeight = window.innerHeight || document.documentElement.clientHeight;
                if(el==animatedSection){
                    return (
                    (rect.bottom >= 0 &&
                    rect.top <= windowHeight / 1.2) 
                    );
                }
                else if(el==s1){
                    return (
                    (rect.bottom >= 0 &&
                    rect.top >= 50) 
                    );
                }
                else{
                    return (
                    (rect.bottom >= 0 &&
                    rect.top >= 50) 
                    );
                }
            }

            function handleScroll() {
                console.log("in");
                console.log(isElementInViewport(animatedSection));
                if (isElementInViewport(animatedSection)) {
                    animatedSection.classList.add("show");
                    // window.removeEventListener("scroll", handleScroll);
                }
                else if (isElementInViewport(s1)) {
                    document.getElementById("s1i").style.animation = "slideInFromRight 1s ease";
                    document.getElementById("s1t").style.animation = "slideInFromLeft 1s ease";
                    document.getElementById("s1i").style.opacity = 1;
                    document.getElementById("s1t").style.opacity = 1;
                }
                else if (isElementInViewport(s2)) {
                    document.getElementById("s2i").style.animation = "slideInFromRight 1s ease";
                    document.getElementById("s2t").style.animation = "slideInFromLeft 1s ease";
                    document.getElementById("s2i").style.opacity = 1;
                    document.getElementById("s2t").style.opacity = 1;
                }
                else if (isElementInViewport(s3)) {
                    document.getElementById("s3i").style.animation = "slideInFromRight 1s ease";
                    document.getElementById("s3t").style.animation = "slideInFromLeft 1s ease";
                    document.getElementById("s3i").style.opacity = 1;
                    document.getElementById("s3t").style.opacity = 1;
                }
                else if (isElementInViewport(s4)) {
                    document.getElementById("s4i").style.animation = "slideInFromRight 1s ease";
                    document.getElementById("s4t").style.animation = "slideInFromLeft 1s ease";
                    document.getElementById("s4i").style.opacity = 1;
                    document.getElementById("s4t").style.opacity = 1;
                }
                else if (isElementInViewport(s5)) {
                    document.getElementById("s5i").style.animation = "slideInFromRight 1s ease";
                    document.getElementById("s5t").style.animation = "slideInFromLeft 1s ease";
                    document.getElementById("s5i").style.opacity = 1;
                    document.getElementById("s5t").style.opacity = 1;
                }
                else if (isElementInViewport(s6)) {
                    document.getElementById("s6i").style.animation = "slideInFromRight 1s ease";
                    document.getElementById("s6t").style.animation = "slideInFromLeft 1s ease";
                    document.getElementById("s6i").style.opacity = 1;
                    document.getElementById("s6t").style.opacity = 1;
                }
            }

            window.addEventListener("scroll", handleScroll);

        </script>
        <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5d80e079329a007369704428" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://assets-global.website-files.com/5d80e079329a007369704428/js/webflow.251cef853.js" type="text/javascript"></script>
    </body>
</html>